# dependencies
node_modules/

#training data
/receipts/

# next.js
.next/
out/

# env files
.env.local
.env*.local

# debug
npm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
node_modules/
.next/
.env.local
.DS_Store
